:root{
   --primary-text-color:#212121;
   --description-text-color:#757575;
   --primary-dg-color:#F5F5F5;
   --accent-color:#2196F3;
}
.list{
   list-style-type: none;
}
.body{
font-family:"Roboto";
background-color:#F5F5F5;
direction:none;
list-style-type:none;
}
/*header*/
.logo-link{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   /* identical to box height */
   letter-spacing: 0.03em;
   color: #2196F3;   
   text-decoration:none;
}
.accent-header{
   color:#000000 ;
}
.nav-link{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #212121;
  text-decoration: none;
  list-style: none;
}
.nav-link:hover{
    color: #2196F3;
}
.contacts-link{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.contacts-link:hover{
color: #2196F3;
}
/* hero*/
 .hero{
    background-color:#2F303A ;
 }
 .hero-title{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
 }
 .button-hero{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
    }
    /*main content*/
 .advantages-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
 }
 .description{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
 }
 .pictures-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 .team-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 .name-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 .description-work{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
 }
 /*footer content*/
 .accent-footer{
   color: rgba(255, 255, 255, 1);}
   .contacts-link-footer{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   }
   .contacts-link-address{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   text-decoration: none;
   }
   .footer{
      background-color: #2F303A;
   }
   .button-hero{
    background-color:#2196F3;
    color: #FFFFFF;
   }
   /*portfolio*/
   /*button*/
  .buttons{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   background: #F5F4FA;
   border-radius: 4px;
  }
  .button{
   background: #FFFFFF;
  }
  .buttons:hover{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
  }
  .portfolio-title{
   font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
  }
  .portfolio-paragraf{
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
  }